@model IEnumerable<Farm.Models.Cattle>

@{
    ViewData["Title"] = "Index";
}

<h1>Cattle</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom border-top box-shadow mb-5">
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">

            <li class="nav-item1 ">
                <a class="nav-link text-dark" asp-area="" asp-controller="CattleChart" asp-action="Index">Cattle Chart</a>
            </li>

<li class="nav-item1 ">
    <a class="nav-link text-dark" asp-area="" asp-controller="Bull" asp-action="Index">Bull Chart</a>
</li>

            <li class="nav-item1">
    <a class="nav-link text-dark" asp-area="" asp-controller="Cow" asp-action="Index">Cow Chart</a>
</li>

            <li class="nav-item1">
    <a class="nav-link text-dark" asp-area="" asp-controller="CalfBull" asp-action="Index">Bull Calves Chart</a>
</li>

            <li class="nav-item1">
    <a class="nav-link text-dark" asp-area="" asp-controller="CalfCow" asp-action="Index">Cow Calves Chart</a>
</li>


            <li class="nav-item1">
                <a class="nav-link text-dark" asp-area="" asp-controller="NewCalf" asp-action="Index">New Calves Chart</a>
            </li>


            <li class="nav-item1">
                <a class="nav-link text-dark" asp-area="" asp-controller="Death" asp-action="Index">Death Chart</a>
            </li>
</ul>
</div>

</nav>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom border-top box-shadow mb-5">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item1 ">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cattle" asp-action="ShowSearchForm">Search Camp</a>
            </li>

            <li class="nav-item1 ">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cattle" asp-action="ShowSearchFormBreed">Search Breed</a>
            </li>

        </ul>
    </div>

</nav>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Camp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>



            </tr>

        }
    </tbody>
</table>
