@model IEnumerable<Farm.Models.Cattle>

@{
    ViewData["Title"] = "Index";
}

<h1>Cattle</h1>

<p>

    <div class="row">
        <lable>Chart-Type</lable>

    </div>
    <div class="col-2">
        <select id="ChartType" class="form-control" style="width:150px;">
            <option selected>--Select Chart Type--</option>
            <option>bar</option>
            <option>line</option>
            <option>pie</option>
            <option>doughnut</option>
        </select>

    </div>
    <div class="col-4">
        <input id="ID" value="Show Graph" type="button" />
    </div>
    <br />

    <div id="ChartView">
        <canvas id="myChart"></canvas>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#ID").click(function () {

                var chartType = $("#ChartType").val();
                var chartView = document.getElementById('ChartView');

                chartView.innerHTML = `&nbsp;`;
                $('#ChartView').append('<canvas id="myChart" style="max-width:750px;max-height:400px;"><canvas>');

                $.ajax({
                    type: "POST",
                    url: "/Chart/GetCattle",
                    data: "",
                    contextType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccessResult,
                    // error: Onerror
                })
                function OnSuccessResult(data) {
                    var _data = data;
                    var _chartLabels = _data[0];
                    var _chartData = _data[1];



                    var barColor = ["red", "green", "blue", "orange", "brown", "purple"]

                    new Chart("myChart",

                        {
                            type: chartType,
                            data: {
                                labels: _chartLabels,
                                datasets: [{
                                    backgroundColor: barColor,
                                    data: _chartData
                                }]
                            }

                        })
                }

                //function OnError(err) {

                //}
            })
        })

    </script>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Camp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>



            </tr>

        }
    </tbody>
</table>
